<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin RFID/NFC</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="message-box">
            <div class="title">
                <p>message</p>
                <p>name</p>
                <p>date</p>
            </div>
        </div>
        <div class="container-form">
            <h1>Register</h1>
            <form class="form-box">
                <input type="text" placeholder="name" class="input_name" required>
                <input type="hidden" placeholder="card id" class="input_card_id">
                <input type="submit" value="Register" class="btn_register">
            </form>
        </div>
    </div>
</body>
</html>

<html>
	<head>
        <title>Demo Socketio - Homepage</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="socket.io/socket.io.js"></script>
        <script src="./scripts/functions.js"></script>
		<script src="./scripts/main.js"></script>
	</head>

	<body>
	</body>	
</html>